#loginArea {
  color:green;
  width: 700px;
  position: absolute;
  left: 10rem;
}
.centered {
  position:absolute;
  left:30%;
  top:30%;
  margin-left:-50px;
  margin-top:-50px;
}
#loginBox {
  width: 600px;
  height: auto;
}
.tab-pane {
  width:100%;
}
.user-login-area {
  position: inherit;
  top: 50px;
  width: 100%;
  height: auto;
}
#insurance-login-area {
  background-color: blue;
}
#mechanic-login-area {
  background-color: red;
}
#customer-login-area {
  background-color: green;
}
.btn-primary {
  margin-left: 10px;
}

/* .new-user-area {
  background-color: orange;
  position: absolute;
  left: 0px;
  top: 150px;
} */

#ticketInputArea {
  color:black;
}

.signup-button {
  margin-left:15px;
  left:20px;
  position:relative;
}

/* Fixing a bunch of height and margin shit. */
#root {
  height:100%;
  width:100%;
}
.container {
  height:100%;
  margin:0;
}
.row {
  height:100%;
}
.col {
  height:100%;
}

.card-body {
  color:black;
}