#loginArea {
  width: 700px;
  position: absolute;
  left: 33%;
  color: #13293D;
  /* font-weight: bold; */
  background-color: white;
  font-family: 'Stoke', serif;
  font-size: x-large;
  opacity: 0.9;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom:100px;
    border-radius:1rem;
    margin-top:5%;
  /* font-family: 'McLaren', cursive; */
}
.centered {
  position:absolute;
  left:30%;
  top:30%;
  margin-left:-50px;
  margin-top:-50px;
}
#loginBox {
  min-width: 600px;
  max-width: 35%;
  height: auto;
  background-color: aliceblue;
  opacity: 0.9;
  padding: 5%;
  border-radius: 1rem;
  border: 10px inset silver;
}

#login-button {
  padding-left: 13%;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 28%;
  right: 33%;
  width: 40%;
  position: relative;
  font-size: xx-large;
  background-color: orange;
  border-radius: 15px;
  opacity:1;
}

.card-text {
  color: black;
}
.card-title {
  color: black;
}

.form-label {
  color: black;
}

a {
  color: deepsteelblue;
}



.box {
  width: 150px;
  height: 150px;
  background: #fff;
}





.card {
  width: 600px;
  height: auto;
  background-color:aliceblue;
  color: black;
}

body {
  background-color:white;
  padding-top:0px;
}

#root {
  background-color:white;
  background-size: cover;
  background-image: url("https://previews.123rf.com/images/antmatveev/antmatveev1510/antmatveev151000003/46928236-car-engine-concept-of-modern-automobile-motor-with-metal-chrome-plastic-parts.jpg")
}

#logo {
  border-radius: 25px;
  position: relative;
  left: 25%;

}
.tab-pane {
  width:100%;
}
.user-login-area {
  position: inherit;
  top: 50px;
  width: 100%;
  height: auto;
}
#insurance-login-area {
  background-color: blue;
}
#mechanic-login-area {
  background-color: red;
}
#customer-login-area {
  background-color: green;
}
.btn-primary {
  margin-left: 10px;
  background-color:#FF7F11;
  color:#13293D;
  border:gold;
  font-weight:bold;
}
.btn-primary:hover {
  background-color:orange;
  color:White;
  border:#FF8821;
  font-weight:bold;
  transform: scale(1.2);
  transition: all .1s ease-in-out;
}

#comment-area {
  background-color: purple;
}

.btn-danger {
  margin-bottom: 5%;
  margin-top: 5%;
}

.btn-danger:hover {
  transform: scale(1.2);
  transition: all .1s ease-in-out;
  font-weight:bold
}


/* .new-user-area {
  background-color: orange;
  position: absolute;
  left: 0px;
  top: 150px;
} */

input.form-control {
  width:250px;
}

#ticketInputArea {
  background-color:aliceblue;
  left:33%;
  top:5rem;
  position:relative;
  color:black;
  border:5px solid white;
  border-radius: 10px;
  margin:10px;
  padding:30px;
  font-size:large;
}

.signup-button {
  margin-left:15px;
  left:20px;
  position:relative;
}

#cardarea {
  /* border:5px solid pink; */
  left: 35%;
    position: absolute;

}

/* Fixing a bunch of height and margin shit. */
#root {
  height:100%;
  width:100%;
}
.container {
  height:100%;
  margin:0;
}
.row {
  height:10%;
}
.col {
  height:100%;
}

/* #comment-zone {
  border:5px solid pink;
  right: 0px;
  position: relative;
  justify-content: center;
  margin-left: 25%;
} */

/* #tasks-area {
  border: 10px solid red;
} */

.card-body {
  color:#13293D;
  flex: 1 1 auto;
    padding: 1.25rem;
    border: 10px inset silver;
    background: lightgrey;
    margin-top: 3rem;
}

/* Ticket View Stuff */

#ticket-view {
  left: 33%;
  background-color: white;
  color: #13293D;
  display: inline-grid;
  position: relative;
  justify-content: center;
}
/* #master-view-ticket {
  position:relative;
  left:25%;
  margin-top:10rem; 
} */

#cardDiv {
  position: relative;
  left: 55%;
  right: 45%;
  /* top: 5rem; */
  margin-top: 5rem;
  /* border: 5px solid red; */
  width: 55%;
}

#contact-area {
  position:relative;
  left:25%;
}

fieldset {
  background-color: gold;
  width: 100%;
  color: black;
  min-height: 10rem;
  /* position: relative; */
  /* left: 10%; */
  max-width: 625px;
  margin-bottom: 3rem;
  
}
#task-text {
  font-size: 20px;
  /* background-color: #E8B799; */
  padding: 5px;
  font-family: monospace;
}

.actions {
  margin-top:5px;
}

#task-list-header {
  background-color:palegoldenrod;
}

#completed-tasks-header {
  background-color:palegoldenrod;
}
#task-input-area {
  width:120px;
}
#task-input-submit {
  width:120px;
}
.task-list {
  margin-top:3rem;
}

#comment-box {
  color:black;
  width:500px;
  background-color:white;

}
#comment-box img {
  height:auto;
  width:50px;
}
#add-task-button {
  padding-left:25px;
  padding-right:25px;
}

.list-overflow-container {
  max-height: 545px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  height:300px;
}

.input-area-hide {
  display:none;
}
